/*Cursor, scrollbar*/

* {
    cursor: url(../media/purple-image.png), pointer;

}

::-webkit-scrollbar-thumb {
    background: rgba(203, 163, 40, 0.50);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(106, 112, 98, 0.75);
}

/*Backgrounds, text colors, borders*/

#mainMenu, #gameMode, .collapsible, #wait {
    background: rgba(102, 51, 153, 0.5);
    color: rgb(11, 10, 7);
    border-color: rgb(11, 10, 7);
}

#settings, #rules, #exit, #createPersonForm {
    background: rgba(102, 51, 153, 1);
    color: rgb(11, 10, 7);
    border-color: rgb(11, 10, 7);
}

/*Exceptions*/

#infoBox {
    position: absolute;
    z-index: 5;
}

#mainMenu {
    border-right-width: 0.4375rem;
    border-style: solid;
    border-color: rgb(11, 10, 7);
}

#mainMenu h1, #mainMenu a {
    font-family: "Bahnschrift Light", serif;
}

#mainMenu h1, #mainMenu a, #gameMode h2, #infoBox p, #wait p {
    color: rgb(11, 10, 7);
}

/*Hover, focus*/

#mainMenu a:hover {
    background-color: rgb(11, 10, 7);
    color: rgb(198, 83, 255);

}

.back, #settings a, #settings form input[type=button], #rules a, #exit a, #gameMode a, input[type=submit], #wait a {
    background-color: unset;
    border-color: rgb(11, 10, 7);
    color: rgb(11, 10, 7);
}

.back:hover, #settings a:hover, #rules a:hover, #exit a:hover, input[type=submit]:hover, #wait a:hover {
    background-color: rgb(11, 10, 7);
    color: rgb(198, 83, 255);
    border-color: rgb(198, 83, 255);

}

.active, .collapsible:hover {
    background: rgb(11, 10, 7);
    color: rgb(198, 83, 255);
}

#gameMode a:last-of-type:hover {
    background-color: rgb(11, 10, 7);
    color: rgb(198, 83, 255);
    border-color: rgb(198, 83, 255);
    filter: none;
}

/*Form inputs, form input hovers*/

input[type=text], input[type=number] {
    background-color: transparent;
    border-color: rgb(11, 10, 7);
    color: rgb(11, 10, 7);
}

input[type=text]:hover, input[type=number]:hover, input[type=text]:focus, input[type=number]:focus {
    background-color: transparent;
    border-color: rgb(198, 83, 255);
}

/*Loader*/

.lds-ring div {
    border-color: rgba(255, 235, 153, 0.7) transparent transparent transparent;
}



