* {
    cursor: url(../media/cursor.png), pointer;
    outline: none;
}

::-webkit-scrollbar {
    width: 0.625rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(26, 144, 255, 0.25);
    border-radius: 0.3125rem;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(26, 144, 255, 0.75);
}

@keyframes delayFadein {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    font-family: "Bahnschrift Light", sans-serif;
    color: #ccd9ff;
    background-color: black;
    user-select: none;
}

.hidden {
    display: none;
}

.noPointerEvents {
    pointer-events: none;
}

.collapsible {
    background-color: transparent;
    color: rgba(153, 206, 255, 0.7);
    font-weight: bold;
    border: 0.1875rem solid rgba(153, 206, 255, 0.7);
    border-radius: 0.625rem;
    cursor: inherit;
    width: 100%;
    outline: none;
    font-size: 1rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    text-align: center;
    margin-bottom: 0.9375rem;
    transition: 0.25s;
}

.collapsible:last-of-type {
    margin-bottom: 1.875rem;
}

.active, .collapsible:hover {
    background-color: rgba(153, 206, 255, 0.7);
    color: rgba(0, 40, 77, 1);
}

.content {
    background-color: transparent;
    display: none;
    overflow: hidden;
}

.back, #rules a, input[type=submit], #cancel {
    text-decoration: none;
    background-color: rgba(77, 169, 255, 0.2);
    color: rgba(153, 206, 255, 1);
    border: 0.1875rem solid rgba(26, 144, 255, 0.25);
    padding: 0.625rem 0.9375rem;
    transition: 0.25s;
    font-size: 1rem;
}

.back:hover, #rules a:hover, input[type=submit]:hover, #cancel:hover {
    background-color: rgba(77, 169, 255, 0.7);
    color: rgba(0, 40, 77, 1);
}

#backgroundVideo {
    filter: blur(0.4375rem);
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    animation: fadein 2s;
}

#title {
    position: absolute;
    right: 0;
    font-size: 5rem;
    font-style: italic;
    font-weight: bolder;
    top: 25%;
    margin-right: 3.5rem;
    animation: delayFadein 6s;
}

#endScreen {
    position: absolute;
    font-size: 7rem;
    font-style: italic;
    font-weight: bolder;
    top: 25%;
    animation: delayFadein 6s;
}

#won {
    background-image: url("../media/won.gif");
    background-size: 96.875rem 46.875rem;
}

#lost {
    background-image: url("../media/lost.gif");
    background-size: 96.875rem 46.875rem;
}

@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.dibe {
    font-family: neon;
    color: #FB4264;
    font-size: 6rem;
    text-shadow: 0 0 3vw #F40A35;
}

.flux {
    font-family: neon;
    color: #426DFB;
    font-size: 8rem;
    text-shadow: 0 0 3vw #2356FF;
}

.dibe {
    animation: neon 3s ease infinite;
}

@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
        color: #FED128;
    }
    50% {
        text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
        color: #806914;
    }
}

.flux {
    animation: flux 2s linear infinite;
}

@keyframes flux {
    0%,
    100% {
        text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
        color: #28D7FE;
    }
    50% {
        text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
        color: #146C80;
    }
}


#mainMenu {
    position: absolute;
    height: 100%;
    width: 25rem;
    bottom: 0;
    background: rgba(26, 144, 255, 0.3);
    border-right: 0.4375rem solid rgba(26, 144, 255, 0.6);
    padding: 1.25rem;
    text-transform: uppercase;
    animation: delayFadein 6s;
}

#mainMenu h1 {
    font-family: "Bookman Old Style", sans-serif;
    margin-top: 1.875rem;
    margin-left: 2.5rem;
    font-size: 4rem;
    color: #ccd9ff;
    opacity: 0.8;
}

#mainMenu a {
    color: #ccd9ff;
    text-align: center;
    font-family: Calibri, serif;
    font-size: 2.5rem;
    margin: 0.625rem 2.5rem 0.625rem 2.5rem;
    border: 0.1875rem solid transparent;
    height: 2.5rem;
    text-decoration: none;
    display: block;
    padding: 1.25rem 1.25rem 0.625rem 1.25rem;
    opacity: 0.5;
}

#mainMenu a:first-of-type {
    margin-top: 2.5rem;
}

#mainMenu a:hover {
    background-color: rgba(128, 193, 255, 0.5);
    opacity: 1;
}

#gameMode {
    position: absolute;
    z-index: 2;
    background: linear-gradient(to right, rgba(26, 144, 255, 0.3) 80%, rgba(26, 144, 255, 0) 100%);
    color: rgba(102, 153, 255, 0.5);
    margin-left: 27.5rem;
    bottom: 0;
    width: 28.125rem;
    min-height: 100%;
    animation: fadein 0.3s;
}

#gameMode h2 {
    font-family: "Bookman Old Style", sans-serif;
    text-transform: uppercase;
    color: #ccd9ff;
    opacity: 0.8;
    font-size: 3rem;
    margin-top: 1rem;
}

#gameMode h3 {
    font-size: 2rem;
    color: #ccd9ff;
    opacity: 0.5;
    font-weight: bold;
    bottom: 0;
    margin: 3.125rem 0 0 1.25rem;
}

#gameMode a {
    background-color: rgba(0, 66, 128, 0.50);
    border: 0.3125rem solid rgba(77, 169, 255, 0.50);
    text-decoration: none;
    display: inline-block;
    margin-top: 1.25rem;
    margin-left: 1.375rem;
    left: 50%;
    width: 15rem;
    height: 7.5rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0.375rem 0.375rem;
    transition: 0.25s;
}

#gameMode a:hover, #gameMode a:focus {
    background-color: rgba(77, 169, 255, 1);
    color: rgba(0, 40, 77, 1);
    filter: brightness(180%);
    box-shadow: none;
}

#gameMode img {
    pointer-events: none;
    width: 15rem;
    height: 7.5rem;
}

#gameMode #duelImg {
    transform: scale(-1, 1);
}

#gameMode #airborne, #gameMode #duel, #gameMode #infiltrator {
    filter: brightness(30%);
    box-shadow: none;
}

#gameMode span {
    position: absolute;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
    color: red;
    left: 6rem;
    margin-top: 4rem;
    transform: rotate(20deg);
    filter: brightness(50%);
    font-family: impact, sans-serif;
}

#gameMode h4 {
    position: absolute;
    pointer-events: none;
    font-family: "Script MT", serif;
    font-size: 2rem;
    color: black;
    margin-left: 2rem;
}

#gameMode h4:first-of-type {
    top: 6.5rem;
}

#gameMode h4:nth-of-type(2) {
    top: 15.875rem;
}

#gameMode h4:nth-of-type(3) {
    top: 25.25rem;
}

#gameMode h4:nth-of-type(4) {
    top: 34.65rem;
}

#gameMode .back {
    position: absolute;
    width: 2.625rem;
    height: 1.375rem;
    padding-top: 0.9375rem;
    margin-top: 8rem;
    margin-left: 4rem;
    border-radius: 0.3125rem;
    box-shadow: none;
}

#infoBox {
    position: absolute;
    font-size: 1.5rem;
    margin-left: 3rem;
    margin-top: 42.5rem;
    color: rgba(102, 153, 255, 0.5);
    animation: fadein 0.2s
}

#rules, #settings {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 31.25rem;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 37.5rem;
    background-color: rgba(0, 66, 128, 0.8);
    border-radius: 0.4375rem;
    border: 0.4375rem solid rgba(77, 169, 255, 0.50);
    color: rgba(153, 206, 255, 0.7);
    padding: 1.875rem 2.5rem 1.875rem 2.5rem;
    animation: fadein 0.3s;
}

#rules h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.25rem;
}

#rules h4 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 1.25rem auto 1.25rem 0;
}

#rules p {
    font-family: "Bahnschrift Light", sans-serif;
    line-height: 1.125rem;
    margin: 0.9375rem 0 0.9375rem 0;
}

#rules ul {
    margin: 0.9375rem 0 0.9375rem 2.5rem;
    font-family: "Bahnschrift Light", sans-serif;
    font-size: 1.1rem;
    line-height: 1.4375rem;
    list-style-type: disc;
}

#settings h1 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 1.875rem;
}

#settings p {
    font-size: 1.4rem;
    font-weight: bold;
}

#settings form {
    margin-top: 1.875rem;
}

#settings form div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0.625rem 0 0.625rem 0;
}

#settings form input[type=button] {
    background-color: rgba(77, 169, 255, 0.2);
    color: rgba(153, 206, 255, 1);
    border: 0.1875rem solid rgba(26, 144, 255, 0.25);
    width: 5.625rem;
    height: 2.5rem;
    font-family: "Bahnschrift", sans-serif;
    font-size: 1rem;
    border-radius: 0.3125rem;

}

#settings #reset {
    width: 6.875rem;
    margin-top: 1.25rem;
}

#settingButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 9.375rem;
    height: 2.8125rem;
}

#settingButtons a {
    text-decoration: none;
    background: rgba(77, 169, 255, 0.2);
    border: 0.1875rem solid rgba(26, 144, 255, 0.25);
    border-radius: 0.3125rem;
    color: rgba(153, 206, 255, 1);
    margin: 0 2.5rem 0 2.5rem;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
    transition: 0.25s;
}

#settingButtons a:hover {
    background: rgba(26, 144, 255, 0.9);
    border: 0.1875rem solid rgba(26, 144, 255, 0.9);
    color: black;
}

#settingButtons p {
    margin: 0;
    padding: 0.625rem 1.25rem 0.625rem 1.25rem;
}

#exit {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 8.125rem;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 21.875rem;
    background-color: rgba(0, 66, 128, 0.50);
    border-radius: 0.4375rem;
    border: 0.4375rem solid rgba(77, 169, 255, 0.50);
    color: rgba(153, 206, 255, 0.7);
    padding: 1.875rem 2.5rem 1.25rem 2.5rem;
    animation: fadein 0.3s;
    font-size: 1.4rem;
    font-weight: bold;
}

#exit div {
    margin-top: 3.4375rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#exit a {
    text-decoration: none;
    background: rgba(77, 169, 255, 0.2);
    border: 0.1875rem solid rgba(26, 144, 255, 0.25);
    border-radius: 0.3125rem;
    color: rgba(153, 206, 255, 1);
    padding: 0.625rem 1.25rem;
    transition: 0.25s;
    font-weight: normal;
}

#exit a:hover {
    background: rgba(26, 144, 255, 0.9);
    border: 0.1875rem solid rgba(26, 144, 255, 0.9);
    color: black;
}

#createPersonForm {
    position: absolute;
    z-index: 7;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 21.875rem;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    width: 31.25rem;
    background-color: rgba(0, 66, 128, 0.8);
    border-radius: 0.4375rem;
    border: 0.4375rem solid rgba(77, 169, 255, 0.50);
    color: rgba(153, 206, 255, 0.7);
    padding: 1.875rem 2.5rem 1.875rem 2.5rem;
    animation: fadein 0.3s;
}

#createPersonForm label {
    margin-top: 0.9375rem;
    margin-bottom: 0.3125rem;
    display: block;
    font-size: 2rem;
}

#createPersonForm p {
    margin-top: 0.625rem;
    font-size: 2rem;
}

#createPersonForm form {
    padding: 0.625rem 1.25rem 0 1.25rem;
    display: flex;
    flex-direction: column;
}

input[type=text], input[type=number] {
    font-family: "Bahnschrift Light", sans-serif;
    background-color: rgba(204, 217, 255, 0.8);
    color: black;
    border: 0.125rem solid rgba(77, 169, 255, 0.50);
    border-radius: 0.3125rem;
    width: 100%;
}

input[type=text]:focus, input[type=number]:focus {
    background-color: rgba(77, 169, 255, 0.9);
}

#buttons {
    margin-top: 1.875rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#wait {
    position: absolute;
    z-index: 7;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: auto;
    margin-right: auto;
    width: 11.25rem;
    height: 11.25rem;
    background-color: rgba(0, 66, 128, 0.8);
    border-radius: 0.4375rem;
    border: 0.4375rem solid rgba(77, 169, 255, 0.50);
    color: rgba(153, 206, 255, 0.7);
    padding: 1.125rem;
    animation: fadein 1.5s;
}

#wait p {
    color: rgba(153, 206, 255, 0.7);
    margin-bottom: 0.3125rem;
    text-align: center;
}

#wait #cancel {
    margin-left: 3.125rem;
}

#wait #response, #wait #details {
    font-size: 1.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#introRules {
    display: flex;
}

#rank9 {
    margin-top: -3rem;
}

#duelRules {
    display: flex;
}

#rank10 {
    margin-top: 3rem;
    margin-left: -10rem;
    height: 9rem;
}

#preparationRules {
    display: flex;
}

#rank8 {
    height: 12rem;
    margin-left: 0.4rem;
    margin-top: -1.5rem;
}

#theInfiltratorRules {
    display: flex
}

#theInfiltrator {
    height: 10rem;
}