body {
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
    padding-top: 0;
}

#board {
    width: 1000px;
    height: 1000px;
    z-index: -1;
    position: absolute;
}

#playingField {
    width: 1028px;
    padding-left: 240px;
}

#main {
    width: 1450px;
    margin-left: auto;
    margin-right: auto;
}

#main ul {
    padding-left: 28px;
    margin-top: 0;
}

#main ul li {
    display: inline;
}

#squareList li {
    padding-right: 52px;
    position: relative;
}

#squareList img {
    padding-left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 44px;
    height: 65px;
}

#squareList li div {
    padding-left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 44px;
    height: 65px;
    display: inline-block;
}

#squareList li .moveCircle {
    background: #f00;
}

#squareList li .moveCircleCombat {
    background: green;
}

#squareList li .moveCircleCombat,
#squareList li .moveCircle {
    border-radius: 50%;
    -moz-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    margin-left: -45px;
    margin-bottom: 20px;
    height: 15px;
    opacity: .5;
}

#bluePieceHolder {
    position: absolute;
}

#redPieceHolder {
    top: -1005px;
    left: 1000px;
    position: relative;
}

#bluePieceHolder,
#redPieceHolder {
    padding-top: 5px;
    width: 189px;
}

#redPieceHolder ul li div {
    padding-bottom: 0;
    padding-top: 0;
}

