html {
    overflow-y: hidden;
}

body {
    margin: 0;
    background: lightgreen;
    transform: scale(0.7);
    transform-origin: top;
}

h1 {
    font-size: 1rem;
    margin: 0;
}

#board {
    width: 62.5rem;
    height: 62.5rem;
    z-index: -1;
    position: absolute;
}

#playingField {
    width: 64.25rem;
    padding-left: 15rem;
}

#main {
    width: 65rem;
    margin-left: auto;
    margin-right: auto;
}

#main ul {
    padding-left: 1.75rem;
    margin-top: 0;
}

#main ul li {
    display: inline;
}

#squareList li {
    padding-right: 3.25rem;
    position: relative;
}

#squareList img {
    padding-left: 0;
    padding-top: 1.1rem;
    padding-bottom: 0.9375rem;
    width: 3rem;
    height: 4.0625rem;
}

#squareList li div {
    padding-left: 0;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    width: 2.75rem;
    height: 4.0625rem;
    display: inline-block;
}

#squareList li .moveCircle {
    background: #f00;
}

#squareList li .moveCircleCombat {
    background: green;
}

#squareList li .moveCircleCombat,
#squareList li .moveCircle {
    border-radius: 50%;
    transform: scale(0.7);
    margin-left: -2.8125rem;
    margin-bottom: 1.25rem;
    height: 0.9375rem;
    opacity: .5;
}

#bluePieceHolder {
    position: absolute;
    left: -1.875rem;
}

#redPieceHolder {
    top: -60rem;
    left: 62.5rem;
    position: relative;
}

#bluePieceHolder,
#redPieceHolder {
    padding-top: 0.3125rem;
    width: 11.8125rem;
}

#redPieceHolder ul li div {
    padding-bottom: 0;
    padding-top: 0;
}

