html {
    overflow-y: hidden;
}
body {
    margin: 0;

}
h1 {
    font-size: 1rem;
    margin: 0;
}

#bg-gameImage {
    position: absolute;
    z-index: 0;
    background: url("../media/bg-gameImage.jpg") no-repeat center;
    background-size: cover;
    border: 0.2rem solid rgb(57, 38, 19);
    left: 50%;
    top: 50%;
    height: 50.5rem;
    width: 67rem;
    transform: translate(-50%, -50%);
}

#bg-image {
    position: absolute;
    z-index: -1;
    filter: blur(7px) brightness(67%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#board {
    width: 62.5rem;
    height: 62.5rem;
    z-index: -1;
    position: absolute;

}

#playingField {
    width: 64.25rem;
    padding-left: 15rem;
}

#main {
    width: 65rem;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 16%;
    top: -17%;
    transform: scale(0.6);
}

#main ul {
    padding-left: 1.75rem;
    margin-top: 0;
}

#main ul li {
    display: inline;
}

#squareList li {
    padding-right: 3.25rem;
    position: relative;
}

#squareList img {
    padding-left: 0;
    padding-top: 1.1rem;
    padding-bottom: 0.9375rem;
    width: 3rem;
    height: 4.0625rem;
}

#squareList li div {
    padding-left: 0;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    width: 2.75rem;
    height: 4.0625rem;
    display: inline-block;
}

#squareList li .moveCircle {
    background: #f00;
}

#squareList li .moveCircleCombat {
    background: green;
}

#squareList li .moveCircleCombat,
#squareList li .moveCircle {
    border-radius: 50%;
    transform: scale(0.7);
    margin-left: -2.8125rem;
    margin-bottom: 1.25rem;
    height: 0.9375rem;
    opacity: .5;
}

#bluePieceHolder {
    position: absolute;
    left: -1.875rem;
}

#redPieceHolder {
    top: -60rem;
    left: 62.5rem;
    position: relative;
}

#bluePieceHolder,
#redPieceHolder {
    padding-top: 0.3125rem;
    width: 11.8125rem;
}

#redPieceHolder ul li div {
    padding-bottom: 0;
    padding-top: 0;
}

