body {
}

table {
    width: 952px;
    height: 829px;
    margin-left: auto;
    margin-right: auto;
}

td {
    height: 80px;
    width: 80px;
    border: 1px solid white;
}

td img {
    height: 80px;
    width: 80px;
}

button {
    float: left;
}

aside {
    float: left;
    font-size: 3rem;
}

.map {
    background: url("../media/map.jpg") no-repeat;
    border: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 15px;
    margin-top: 15px;
}

.grid-item img {
    border: 1px solid black;
}

img {
    height: 70px;
    width: 80px;
}
