.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    padding: 10px;
    height: 4000px;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 100px;
    font-size: 30px;
    text-align: center;
}

button {
    float: left;
}

aside {
    float: left;
    font-size: 3rem;
}

