body{
    font-family: "Cooper Black", sans-serif;
    background: url(../media/55551882_1319369714886226_8919497508615356416_n.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

main{
    margin-top: 375px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 450px;
    background: black;
    border: khaki solid;
}


h2 {
    text-decoration: underline khaki;
    color: khaki;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 2.5rem;
    text-align: center;
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
label{
    margin-top: 10px;
    margin-bottom: 15px;
    display: block;
    font-size: 2rem;
    color: khaki;
}
input[type=text],input[type=number]{
    align-items: center;
    background-color: khaki;
    color: black;
}

input[type=text]:focus {
    display: flex;
    background-color: khaki;
    border: coral solid;
}

input[type=submit] {
    text-decoration: none;
    display: block;
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    background: black;
    border: solid khaki;
    color: khaki;
    border-radius: 5px;
    text-align: center;
}

input[type=submit]:focus, main a:focus {
    text-decoration: none;
    display: block;
    padding: 10px 20px 10px 20px;
    background: khaki;
    border: solid khaki;
    color: black;
    border-radius: 5px;
    text-align: center;
}

main a {
    text-decoration: none;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 20px 10px 20px;
    border: solid khaki;
    color: khaki;
    border-radius: 5px;
    text-align: center;
}

.hidden {
    display: none;
}

.shown {
    visibility: visible;
}


#gameMode a {
    text-decoration: none;
    display: block;
    margin: 20px 30px 20px 30px;
    border: solid khaki;
    color: khaki;
    border-radius: 5px;
}

#gameMode img {
    height: 70px;
}

#createPersonForm p {
    margin-top: 15px;
    color: khaki;
    font-size: 2rem;
}

#response {
    color: khaki;
}
